.project {
    display: flex;
    justify-content: flex-start;
}

.project-item {
    margin: 50px;
}

.projects {
    width: 810px;
    background-color: #FFF;
    border-radius: 0.5%;
    border: solid 1px #dddfe2;
}

.Project {
    margin-left: 30px;
    margin-top: 20px;
}