.landing {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: none;
    font-family: 'Sriracha', cursive;
}

.landing-container {
    background-color: rgb(19, 18, 18);
}

.arr-but {
    padding-top: 15.1rem;
}

.landing-content {
    margin-top: 7.85rem;
    border: solid 2px #752b97;
    padding: 0.3rem
}

.landing-content h3 {
    margin: 0.65rem;
    font-size: 1.5rem;
    color: rgb(212, 207, 207);
}

.landing-content h3 strong {
    font-size: 1.5rem;
    color: #740c81;
    transition: ease-in-out 0.5s;
}

.landing-content h3 strong:hover {
    font-size: 1.6rem;
    color: #ac11c0;
}

@media screen and (max-width: 400px) {
    .landing-content h3 {
        margin: .3rem;
        font-size: 1rem;
    }
}