body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100vw;
    background-color: #e9ebee;
}

body p {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
}

.Button {
    margin-top: 0.982rem;
    padding: 1.31rem;
    padding-left: 9.82rem;
}

.Header {
    border-radius: 5%;
    width: 55rem;
    min-width: 50rem;
    margin-left: .82rem;
}

.Contact {
    margin-top: 0.65rem;
    margin-left: 5.24rem;
    border-radius: 5%;
}

.Skills {
    margin-top: 0.65rem;
    margin-left: 19%;
    border-radius: 5%;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.mainn {
    display: flex;
    justify-content: space-around;
    width: 52.4rem;
    margin-right: 2.756rem;
    margin-top: 0.65rem
}

.main-right {
    margin-left: 3.3rem;
}

.post {
    margin-top: 0.65rem;
    width: 30.12rem;
}

.root {
    width: 52.4rem;
}

.Footer-home {
    margin-top: 2.62rem;
    margin-left: 2.75rem;
    width: 20.96rem;
}

.Footer {
    margin-left: 1.102rem;
    width: 53.36rem;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}