.skills-container {
    width: 20.95rem;
    border: solid 1px #dddfe2;
    border-radius: 1%;
    background-color: #FFF;
}

#line {
    width: 19.64rem;
    color: #dddfe2;
}

.info {
    display: flex;
    justify-items: self-end;
    margin: 2px;
}

.info-header {
    display: flex;
    justify-content: baseline;
}

.info-header h3 {
    margin: 20px;
}

.item {
    cursor: pointer;
    border-radius: 5%;
}

.skill-liner {
    background-color: rgb(0, 0, 0, 0.2);
    margin-top: 1em;
    left: 0;
    height: 1.31rem;
    top: 0;
    padding: 0;
    margin-left: 5px;
    width: 100%;
}

.skill-line {
    position: block;
    height: 1.31rem;
    z-index: 3;
    border-radius: 3px;
}

.item-container {
    display: flex;
}

.skill-liner {
    width: 100%;
    border-radius: 3px;
}

.skill-liner .skill-line {
    animation: rotate 30s infinite linear;
    -webkit-animation: rotate 30s infinite linear;
}

@-webkit-keyframes rotate {
    from {
        background-position: -3000px;
    }
    to {
        background-position: 0px;
    }
}

@keyframes rotate {
    from {
        background-position: -3000px;
    }
    to {
        background-position: 0px;
    }
}

.gradient {
    background: #30ff90;
    /* Old browsers */
    background: -moz-linear-gradient(left, #2badce 0%, #2badce 25%, #2badce 50%, #2badce 75%, #218eb9 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2badce), color-stop(25%, #2badce), color-stop(50%, #2badce), color-stop(75%, #276ec0), color-stop(100%, #218eb9));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2badce 0%, #2badce 25%, #2badce 50%, #2badce 75%, #218eb9 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #2badce 0%, #2badce 25%, #2badce 50%, #2badce 75%, #218eb9 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #2badce 0%, #2badce 25%, #2badce 50%, #2badce 75%, #218eb9 100%);
    /* IE10+ */
    background: linear-gradient(to right, #2badce 0%, #2badce 25%, #2badce 50%, #2badce 75%, #218eb9 100%);
    /* W3C */
    /* IE6-9 */
}