.contact-container {
    width: 20.95rem;
    border: solid 1px #dddfe2;
    border-radius: 1%;
    background-color: #FFF;
}

#line {
    width: 16.37rem;
    color: #dddfe2;
    font-size: 0.5px;
}

.info {
    display: flex;
    justify-items: self-end;
    margin: 2px;
}

.info-header {
    display: flex;
}

.info-header span {
    padding-top: 0.98rem;
    padding-left: 1.31rem;
}

.info-header h3 {
    margin: 1.31rem;
    font-size: 18px;
}

.info a {
    color: #385898;
    padding-left: 5px;
    text-decoration: none;
    font-size: 13px;
}

.info p {
    padding-left: 5px;
    font-size: 12px;
}

.info p strong {
    margin-left: -5px;
}

.cer {
    padding: 10px;
}

.info-container {
    margin: 3px;
}

.bio p {
    font-size: 12px;
}

.bio {
    padding-left: 1.637rem;
    padding-right: 1.637rem
}