.card {
    background-color: #FFF;
    width: 810px;
    border-radius: 0.5%;
    border: solid 1px #dddfe2;
}

.Intro {
    margin-top: 20px;
    margin-left: 30px;
}

.card-header {
    height: 50px;
    background-color: #F2F3F5;
}

.card-line {
    color: #dddfe2;
    font-size: 0.5px;
}

.content-items {
    margin-top: 40px;
}

.content-item {
    display: flex;
    width: 300px;
    margin: 20px;
}

.content-item:hover {
    background-color: rgb(225, 225, 230);
}

.content-item p {
    margin-left: 20px;
}

.card-content {
    display: flex;
    justify-content: space-around;
}

.connect-info {
    margin: 50px;
}

.connect-info:hover {
    background-color: rgb(225, 225, 230);
}