.card {
    background-color: #FFF;
    width: 53rem;
    border-radius: 0.5%;
    border: solid 1px #dddfe2;
}

.Intro {
    margin-top: 1.31rem;
    margin-left: 1.96rem;
}

.card-header {
    height: 3.27rem;
    background-color: #F2F3F5;
}

.card-line {
    color: #dddfe2;
    font-size: 0.5px;
}

.content-items {
    margin-top: 2.62rem;
}

.content-item {
    display: flex;
    width: 19.64rem;
    margin: 1.31rem;
}

.content-item:hover {
    background-color: rgb(225, 225, 230);
}

.content-item p {
    margin-left: 1.31rem;
}

.card-content {
    display: flex;
    justify-content: space-around;
}

.connect-info {
    margin: 3.27rem;
}

.connect-info:hover {
    background-color: rgb(225, 225, 230);
}