.avt-container {}

.nav {
    display: flex;
}

.button {
    padding-top: 10px;
}

.button-item {
    padding: 3px;
    background-color: white;
    color: rgb(68, 66, 66);
    border-radius: 5%;
    cursor: pointer;
    font-size: medium;
    border: solid 0.01px gray;
}

.button-item:hover {
    background-color: gray;
    color: white;
}